<template>
    <div>
      <Headline class="headline" />
      <router-view />
       <div class="navbar">
          <router-link to="/">
            <div class="navelement">
              <i class="fas fa-user-circle"></i>
              <div class="navtitle">
                About
              </div>
            </div>
          </router-link> 
          <router-link to="/resume">
            <div class="navelement">
              <i class="fas fa-puzzle-piece"></i>
              <div class="navtitle">
                Resume
              </div>
            </div>
          </router-link> 
          <router-link to="/portfolio">
            <div class="navelement">
              <i class="fas fa-folder"></i>
              <div class="navtitle">
                Portfolio
              </div>
            </div>
          </router-link> 
          <router-link to="/contact">
            <div class="navelement">
              <i class="fas fa-paper-plane"></i>
              <div class="navtitle">
                Contact
              </div>
            </div>
          </router-link> 
      </div>
      <div>

        </div>
    </div>
</template>
<script>
import Headline from '@/components/HeadlineContainer.vue'
export default {
      components: {
        Headline: Headline
    }
    
}
</script>
<style scoped>
    .headline {
      text-align: center;
    }

    .navbar {
      color: black;
      padding-bottom: 3rem;
      padding-top: 1rem;
      
    }

    @media (min-width: 950px) {
      .navbar {
        flex-direction: row;
        margin-left: 2rem;
        justify-content: center;
      }

      .navtitle {
        display: inline;
      }

      .navelement {
      font-size: 2rem;
      width: 13rem;
      text-align: center;
      }
    }

    @media (max-width: 950px) {
      .navbar {
        justify-items: center;
      }

      .navtitle {
        display: none;
      }

      .navelement {
      font-size: 2rem;
      width: 4rem;
      text-align: center;
      }
    }


    a {
      color: black
    }

    a:hover {
      text-decoration: none;
      color: grey   
    }

</style>