<template>
    <div class="itemContainer">
        <div    class="title"
                @click="toggleBody">
            {{item.title}}
        </div>
        <div    class="itemHeadline"
                @click="toggleBody">
            {{item.headline}}
        </div>
        <div    class="itemBody"
                v-if="showBody"
                @click="toggleBody">
            {{item.description}}
            
            <a :href="item.url">
                <appButton  class="repoButton" 
                            title="View code" /> 
            </a>

        </div>
    </div>    
</template>
<script>
import StyledButton from '@/components/shared/StyledButton.vue'
export default {
    props: ['item'],
    data: function() {
        return {
            showBody: false
        }
    },
    methods: {
        toggleBody() {
            this.showBody = !this.showBody
        }
    },
    components: {
        appButton : StyledButton
    }
    
}
</script>
<style scoped>
    .title {
        font-size: 1.2rem;
        background-color: black;
        color: white;
        padding: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .itemContainer {
        border: solid black 1px;
        margin-top: 0.5rem;
        padding: 1rem;
        border-radius: 30px;
    }


    .itemHeadline {
        border: solid black 1px;
        padding: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .itemBody {
        margin-top: 1rem;
        padding: 0.5rem;
        font-style: italic;

    }


    .repoButton {
        margin-top: 1rem;
    }

    a {
      color: black
    }

    a:hover {
      text-decoration: none;
      color: grey   
    }

</style>