<template>
    <div class="button">
            {{title}}
    </div>
</template>
<script>
export default {
    props: ['title']
}
</script>
<style scoped>
    .button {
        width: 15rem;
        height: 3rem;
        border-style: solid;
        border-width: 1px;
        border-radius: 100px;
        text-align: center;
        vertical-align: middle;
        line-height: 3rem;
    }

</style>