<template>
    <div class="techScreen">
        <div class="techcontainer">
            <div class="techlist">
                <div class="techheadline">
                    Comfortable with
                </div>
                <ul>
                    <li v-for="tech in techs" :key="tech.id">{{tech.tech}}</li>
                </ul>
            </div>
            <div class="techlist">
                <div class="techheadline">
                    Some experience
                </div>
                <ul>
                    <li v-for="tech in techs2" :key="tech.id">{{tech.tech}}</li>
                </ul>
                <a  href="../assets/JohanCederschiold.pdf"
                    target="_blank">
                </a>
            </div>
        </div>
    </div>
</template>
<script>
import Techs from '@/data/techstack.json'
import Techs2 from '@/data/techstack2.json'
export default {
    data: function() {
        return {
            techs: Techs,
            techs2: Techs2
        }
    },

}
</script>
<style scoped>
    .techScreen {
        font-family: 'Rubik';
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }


    @media (min-width: 950px){
        .techcontainer {
            display: flex;
        }
    }

    @media (max-width: 950px){
        .techcontainer {
            display: inline;
        }

    }

    .techheadline {
        font-size: 2rem;
    }

    a {
      color: black
    }

    a:hover {
      text-decoration: none;
      color: grey   
    }

</style>