<template>
    <div class="screen">
        <div class="contactContent">
            <div class="headline">
                Contact
            </div>
            <div>
                <a href="https://www.linkedin.com/in/johan-cederschiold/">
                <i class="fab fa-linkedin-in"></i>
                <span class="linkName">
                    LinkedIn
                </span>
                </a>
            </div>
            <div>
                <a href="https://gitlab.com/JohanCederschiold">
                <i class="fab fa-gitlab"></i>
                <span class="linkName">
                    Gitlab
                </span>
                </a>
            </div>
            <div>
                <a href="https://github.com/JohanCederschiold">
                <i class="fab fa-github"></i>
                <span class="linkName">
                    Github
                </span>
                </a>
            </div>
            <div>
                <a href="mailto:johan.cederschiold@gmail.com">
                <i class="fas fa-at"></i>
                    <span class="linkName">
                        Mail
                    </span>
                </a>
            </div>
            <div>
                <a href="https://www.strava.com/athletes/16338634">
                <i class="fab fa-strava"></i>
                <span class="linkName"></span>
                Strava
                </a>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

    .headline {
      margin-bottom: 1rem;

    }

    .contactContent {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }


    @media (min-width: 750px) {
        .screen {
            width: 10%;
            margin-left: 45%;
            min-width: 150px;
            margin-right: auto;
        }          
    }

    @media (max-width: 750px) {
        .screen {
            width: 150px;
            margin-left: 30%;
            margin-right: auto;
        }          
    }


    a {
     color: black;
    }

    .linkName {
        margin-left: 1.5rem;
    }

    a:hover {
      text-decoration: none;
      color: grey   
    }

</style>