<template>
    <div class="screen">
        <div class="headline">
            Portfolio
        </div>
        <div class="portfolio">
            <div v-for="resume in resumes" :key="resume.id">
                <AppPortfolio :item="resume"/>
            </div>
        </div>
    </div>
</template>
<script>
import Resume from '@/data/resume.json'
import PortfolioItem from '@/components/shared/PortfolioPostContainer'
export default {
    components: {
        AppPortfolio : PortfolioItem
    },
    data: function () {
        return {
            resumes: Resume
        }
    }
    
}
</script>
<style scoped>

    .screen {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        min-width: 300px;
    }


</style>