<template>
    <div>
        <div id="content">
            <Texts class="texts" />
            <Images class="images" />
        </div>
    </div>
</template>
<script>
import Images from '@/components/ProfileImageContainer.vue'
import Texts from '@/components/AlternativeTextContainer.vue'
export default {
    methods: {

    },
    data: function () {
        return {
        }
    },
    components: {
        Images: Images,
        Texts: Texts,
    }
    
}
</script>
<style scoped>


    @media (min-width: 950px) {
        #content {
            display: flex;
            justify-content: center;
        }
        .texts {
            width: 550px;
        }
    }

    @media (max-width: 950px) {
        #content {
            display: inline;
        }
        .texts {
            text-align: center;
        }
        .images {
            margin-left: auto;
            margin-right: auto;
        }
    }






</style>