<template>
    <div id="lists"> 
        <div v-for="item in johan" 
            :key="item.id">
            <div class="listitem fontsizes">
                {{item.text}}
            </div>
        </div>
    </div>
</template>
<script>
import JOHAN from '../data/oneliners.json'
export default {
    methods: {

    },
    data: function () {
        return {
            johan : JOHAN,

        }
    },
    components: {

    }
    
}
</script>
<style>
    .lists {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .listitem {
        font-family: 'Rubik';
        text-align: justify;
        margin-bottom: 0.3rem;
        padding-bottom: 0.3rem;
    }

    @media (max-width: 950px ){
        .listitem {
            font-size: 0.8rem;
            margin-left: 10%;
            margin-right: 10%;
        }
    }
    @media (min-width: 950px ){
        .listitem {
            font-size: 1.2rem;
        }
    }


</style>