<template>
            <div class="messageContainer">
                <div class="titleContainer">
                    {{attribute.title}}
                </div>
                <div class="bodyContainer">
                    {{attribute.message}}
                </div>
            </div>
</template>
<script>
export default {
    props: ['attribute']    
}
</script>
<style scoped>
    .messageContainer {
        margin-bottom: 0.5rem;
    }

    .titleContainer {
        font-size: 1rem;
        font-family: 'Rubik';
        color: grey
    }

    .bodyContainer {
        font-size: 2rem;
        font-family: 'Rubik';
        color: black
    }


</style>