<template>
    <div class="headline">
        Johan Cederschiold
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

    .headline {
        font-family: 'Libre Barcode 39 Text';

    }

    @media (min-width: 950px) {
        .headline {
            text-align: center;
            font-size: 5.6rem;
        }
    }
    @media (max-width: 950px) {
        .headline {
            font-size: 3rem;
            text-align: center;
        }
    }
</style>