<template>
            <div class="messageContainer">
                {{attribute.title}}
            </div>
</template>
<script>
export default {
    props: ['attribute']    
}
</script>
<style scoped>
    .messageContainer {
        font-size: 2rem;
        font-family: 'Rubik';
        margin-bottom: 2rem;
        color: black
    }
</style>