<template>
    <div    @mouseenter="changePicture" 
            @mouseleave="resetPicture"
            @click="changePicture"
            class="imageContainer">
        <img    class="profileImage" 
                :src="imageUri" 
                alt="Picture of Johan"
                :title="alt"
                />
        <div class="imageText">
            {{imageText}}
        </div>
    </div>
</template>
<script>
import Images from '@/data/images.json'
export default {
    data: function () {
        return {
            images: Images,
            showImageURI: 'IMG_1726.jpg',
            imageIndex: 0,
            imageText: 'Hover or click on picture to see different stages of development',
            alt: ''
        }
    },
    computed: {
        imageUri: function() {
            return require('@/assets/images/' + this.showImageURI)
        }
    },
    methods: {
        changePicture() {
            if (this.imageIndex > this.images.length - 2) {
                this.imageIndex = 1
            } else {
                this.imageIndex++
            }

            console.log(this.imageIndex)

            this.showImageURI = this.images[this.imageIndex].uri
            this.imageText = this.images[this.imageIndex].message
            this.alt = this.images[this.imageIndex].alt
        },
        resetPicture() {
            this.showImageURI = this.images[0].uri
            this.imageText = this.images[0].message
            this.alt = this.images[0].alt
        }
    }
    
}
</script>
<style scoped>
    .profileImage {
        max-width: 250px;
        height: auto;
        border-radius: 10%;
    }

    .imageContainer {
        width: 300px;
        justify-content: center;
        text-align: center;
    }

    .imageText {
        font-size: 1.1rem;
        font-style: italic;
        height: 70px;
        
    }


</style>