<template>
    <div id="lists"> 
        <div>
            <div    v-for="attribute in johan" 
                    :key="attribute.id"
                    class="message"
            >
                <div    @mouseover="revealMoreInfo(attribute.id)"
                        @mouseleave="revealMoreInfo(0)">
                    <div v-if="attribute.id === showMessage">
                        <Chosen :attribute="attribute" />
                    </div>
                    <div v-else>
                        <NotChosen :attribute="attribute"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import JOHAN from '../data/johaninfo.json'
import NotChosen from '@/components/NotChosenContainer.vue'
import Chosen from '@/components/ChosenContainer.vue'
export default {
    methods: {
        revealMoreInfo(id) {
            this.showMessage = id
        }
    },
    data: function () {
        return {
            johan : JOHAN,
            showMessage: 0
        }
    },
    components: {
        NotChosen,
        Chosen
    }
    
}
</script>
<style scoped>
    .lists {
        display: inline-block;
        margin-left: 3rem;
        margin-right: 3rem;
    }

</style>