<template>
  <div id="app">
    <app-navigation></app-navigation>
  </div>
</template>
<script>
import Navigation from './components/shared/Navigation.vue'
export default {
  components: {
    'app-navigation': Navigation
  }

  
}
</script>
<style>
  .headline {
    font-size: 2rem;
  }

  .screen {
      margin-left: 3rem;
      font-family: 'Rubik';
  }

</style>

